<div>
    <h1>Languages</h1>
    <ul>
        {% for language_hash in site.data.languages %}
        {% assign language = language_hash[1] %}
        <li><a href="{% if language.code != 'en' %}/{{ language.code }}{% endif %}/{{ include.currentPage }}">{{ language.language }}</a></li>
        {% endfor %}
    </ul>
</div>

<div>
    <h1>Pages</h1>
    <ul>
        <li><a href="/{% if include.lang != 'en' %}{{ include.lang }}{% endif %}">Index</a>
        <li><a href="{% if include.lang != 'en' %}/{{ include.lang }}{% endif %}/about">About</a>
    </ul>
</div>
